[submodule "TortoiseSVN/Libraries"]
	path = Scripts - Misc/TortoiseSVN/Libraries
	url = https://github.com/justinmassiot/vbscript_altium_libraries.git
[submodule "BetterRevertVCS/Libraries"]
	path = Scripts - Misc/BetterRevertVCS/Libraries
	url = https://github.com/justinmassiot/vbscript_altium_libraries.git
